
*{
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: black;
    padding: 0px 100px 0px 100px;
    .nav-brand{
        
    }
    .nav-items{
        display: flex;

        li {
            list-style: none;
            padding: 1rem;
            a {
                text-decoration: none;
                color: white;
                font-weight: 100;
                padding: 0.3rem;
                font-size: 14px;
              }
          }
    }
    .nav{
        display: none;
        ul {
            list-style: none;
        }
        
        ul li {
            display: inline-block;
        }
        
        ul li a {
            text-decoration: none;
            color: #8291A5;
            padding: 8px 30px;
            border-radius: 7px;
            transition: all .3s ease;
        }
        
        ul li a:hover,
        ul li a.active {
            color: #FFF;
            background: #0075FF;
        }
        
        #icon {
            background-color: black;
            padding: 5px 7px 3px 7px;
            border-radius: 4px;
            cursor: pointer;
            transition: all .3s ease;
        }
        
        #icon svg {
            color: #FFF;
            height: 28px;
            transition: all .3s ease;
        }
        
        #icon:hover {
            background: #FFF;
        }
        
        #icon:hover svg {
            color: orangered;
        }
        
        #checkbox,
        #icon {
            display: none;
        }
    }
    @media screen and (max-width: 996px) {
        .nav {
            border-bottom: 1px solid #455468;
            display: block;
            color: red;
            #icon {
                display: block;
            }
        
            #checkbox:checked~ul {
                display: block;
            }
            ul {
                position: absolute;
                width: 100%;
                height: 30%;
                background-color: #18283B;
                left: 0;
                top: 0;
                text-align: center;
                display: none;
                margin-top: 71px;
                li {
                    display: block;
                    padding: 10px 15px;
                    a {
                        display: block;
                        padding: 10px 0;
                        color: white;
                    }
                }
            }
        }
        .nav-items{
            display: none;
        }
        label, input{
            display: block;
        }
       
    
       
        
    }
    
    
}