.product{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
    max-width: 90%;
    padding:5%;

    .product-card{
        width: 18%;
        height: 450px; 
    }
}
.a-product{
    width: 199px;
height: 60px;
margin: 98px 21px 143px 58px;
padding: 21px 36px 21px 37px;
border: solid 3px #020001;
background-color: var(--white);
text-decoration: none;
color: black;
font-weight: bold;

}
